body {
    font-family: Arial, sans-serif;
}

.admin-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
